<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
</head>
<body>
<h1 align="center"><strong>Login</strong></h1>
<form action="/validate" method="POST">
    <table align="center">
        <tr>
            <td>Username:</td>
            <td><input type="text" placeholder="Enter username" name="username"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" placeholder="Enter password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
</body>
</html>